.homeAnuncios {
    display: flex;
    flex-direction: column;
}
.searcher {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 25vh;
}
.selectores {
    width: 100%;
    margin-top: 20px;
}
.cardList {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e1f5fe;
    width: 100%;
    height: 75vh;
}
.formSearch {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.filtrosSelect {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 60%;
}
.controller {
    width: 32%;
}